.input-type {
    /*display: block;*/
    width: 150px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.input-type:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

body{
    width:100%;
    height:100%;
    font-family: 'Roboto Condensed', sans-serif;

}


h1,h2,h3 {
    margin:0 0 35px 0;
    font-family: 'Patua One', cursive;
    text-transform: uppercase;
    letter-spacing:1px;
}

p{
    margin:0 0 25px;
    font-size:18px;
    line-height:1.6em;
}
a{
    color:#26a5d3;
}
a:hover,a:focus{
    text-decoration:none;
    color:#26a5d3;
}

#contact{
    background:#333333;
    color:#f4f4f4;
    padding-bottom:80px;
}

textarea.form-control{
    height:100px;
}
.head {
    background-color: #4a4a4a;
}

/*login*/

body{
    margin:0;
    padding:0;
    background:#fff;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
p{
    margin:0;
    letter-spacing:1px;
}
ul{
    margin:0;
    padding:0;
}
p,ul,ol{
    font-size:14px;
}

.position_relative {
    position: relative;
}

.inner_content {
    padding: 1.2em 1em;
}

.inner_content_margin_top {
    margin-top: 4em;
}

.registration.admin_agile {
    padding: 0em 0;
}

.signin-form.profile.admin {
    background: #f9fbfd;
    padding: 2em 2em;
    box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -o-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    border: 1px solid #ddd;
}

.login-form {
    margin: 1em 0 2.5em;
}
/*/login*/